@import './normalize.scss';
@import './variables.scss';
@import './mixins.scss';
@import './typography.scss';
@import './grid.scss';
@import './layout.scss';
@import './print.scss';

// 404 page styles -->>

.relative {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// end 404 page styles -->>

a.menu-link {
  float: right; //right based
  display: block;
  padding: 1em;
  &:focus {
    border-bottom: none;
  }
}

.main {
  clear: both;
  width: 94%;
  max-width: 42em;
  margin: 80px auto;
}

.responsive {
  width: 100%;
  height: auto;
  display: block;
}

#menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

#menu.active {
  width: 100%;
}

.overlay-content {
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50%;
  margin: auto;
  text-align: center;
  padding: 0;
  display: block;
  width: 75%;
  li {
    list-style-type: none;
  }
  a {
    border-bottom: none;
    color: $white;
    display: block;
    padding: 20px 40px;
    font-size: 40px;
  }
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


@media screen and (min-width: 41.25em) {
  a.menu-link {
    display: none;
  }
}

// card-container
.card-container {
  text-align: center;
  background-color: $white;
  margin: 20px auto;
  max-width: 320px;
  clear: both;

  .svg {
    border-radius: 50%;
    transition: all 2s cubic-bezier(1, -0.53, 0.405, 1.425);

    &:hover,
    &:focus {
      -webkit-transform: rotate(360deg);
      /* Safari */
      transform: rotate(360deg);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .center-text {
      text-align: center;
    }
  }
}
